@import './colors.css';
.adminpanel{
    position: relative;
    width: 80%;
    text-align: justify;
    background: var(--stripe-hover);
    border: 1px solid var(--hover);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.adminpanel:hover{
    border:1px solid transparent;
    background:var(--secondary);
}
.adminpanel ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 10px;
}
.adminpanel ul li{
    display: inline-block;
    font-weight: 500;
}
.admin-functions li{
    box-sizing: border-box;
    padding: 10px;
    background: var(--secondary);
    border-radius: 5px;
}
.admin-functions li:hover{
    transform: translateY(-5px);

}
main{
    flex-flow: column;
}

.row{
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
}
.row .admin-button{
    text-align: center;
}
.row .admin-button:hover{
    transform:scale(1.2);
    filter:saturate(5);
}
.admin-button.edit{

    color:rgb(255, 206, 115);
}
.delete li{
    background:#ff5a5a !important;
    color: #790000;
}
.delete li:hover{
    background:#ff7272 !important;
    box-shadow: 1px 5px 0px 0px #790000;
}

.add li{
    background:#5affc0 !important;
    color: #00793d;
}
.add li:hover{
    background:#72ffc9 !important;
    box-shadow: 1px 5px 0px 0px #00794b;
}

.vip li{
    background:#ffa45a !important;
    color: #864a1a;
}
.vip li:hover{
    background:#ffd079 !important;
    box-shadow: 1px 5px 0px 0px #864a1a;
}
.row .delete{
    color:rgb(255, 125, 125);

}
.info .row span:nth-child(5){
    text-align: center;
}
.player-edit{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.player-edit img{
    width: 75px;
    height: 75px;
    border-radius: 100%;
}
.player-edit h3{
    margin-top: 10px;
}
#mapname-edit{
    margin-top:10px;
    margin-bottom: 10px;
}
.adminpanel p:nth-child(1){
    font-size: 25px;
}

.row img{
    width: 276px;
    height: 55px;
    border-radius: 0;
}


@keyframes rotate{
    0%{
        opacity:0%;
        transform: rotate(-180deg) scale(0);
    }
    100%{
        opacity:100%;
        transform: rotate(0deg) scale(1);
    }

}

.player-edit.rotate img{
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
}