@import '../../../views/assets/css/swiper-bundle.min.css';
@import '../../../views/assets/css/colors.css';
.swiper {
    width: 100%;
    height: 150px;
    border-radius: var(--borderradius);
  }
.main-page-swiper{
  background:var(--secondary);
  border-radius: var(--borderradius);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  overflow: hidden;
  flex-flow: column;
  align-items: start;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: 50% 50% !important;
  backdrop-filter: brightness(50%);
}

.main-page-swiper p{
  text-align: justify;
}
.swiper-pagination-bullet{
  background:#ccc !important;
}
.swiper-pagination-bullet-active{
  background:var(--hover) !important;
}
.main-page-swiper .swiper-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--borderradius);
  background-size: 100% !important;
  filter: brightness(50%) blur(0px) grayscale(50%);
  z-index: -9;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.main-page-swiper:hover .swiper-bg{
  transform:scale(1.1);
  filter: brightness(80%) blur(2px) grayscale(0%);
  border-radius: var(--borderradius);
}
.main-page-swiper .swiper-tag{
  position: absolute;
  z-index:2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  right:15px;
  min-width: 50px;
  height: 15px;
  background:var(--stripe-hover);
  font-size: 12px;
  font-weight: 800;
  border-radius: var(--borderradius);
}
.main-page-swiper .swiper-tag#important{
  background-color: #271919;
  border: 1px solid #ff898961;
  color: #794444 !important;
}
.main-page-swiper .swiper-tag#important:hover{
    background-color: #553636;
    border: 1px solid #fa6a6a91;
    color: #fa6a6a91 !important;
}

@media (max-width:768px){
  .main-page-swiper{
    font-size: 12px;
  }
}