@import '../../../views/assets/css/swiper-bundle.min.css';
@import '../../../views/assets/css/colors.css';
.swiper {
    width: 100%;
    height: 150px;
    border-radius: var(--borderradius);
  }
.main-page{
  background:var(--secondary);
  border-radius: var(--borderradius);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: start;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: 50% 50% !important;
  backdrop-filter: brightness(50%);
}
.main-page p{
  text-align: justify;
}
.swiper-pagination-bullet{
  background:var(--stripe-hover) !important;
}
.swiper-pagination-bullet-active{
  background:var(--hover) !important;

}